/* ======== Geral ============*/
:root{
    font-size: 62.5%;
    --primary-color : #00856f;
    --Headline : #212529;
    --paragraph : #495057;
    --text-color : #fff;
    --brand-beige : #FFFAF1;
    --brand-light : #DCE9E2;
    --bg-light : #F7F9F9;
    --nav-height : 7.2rem;
    --brand-green-hover : #00453A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* elemento para contar da borda da caixa*/
}


html,body{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    text-align: center;
}

html{scroll-behavior: smooth;}

body{
    overflow: overlay;
    background-color: var(--bg-light);
}


.wraper{
    width: 37.5rem;
    margin-inline: auto;
    padding: 2.4rem;
}

section{
    padding-block: 10rem;
}

section header h4{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 4.1rem;
    margin-bottom: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
}

section header h2{
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--Headline);
}

section header h1{
    font-size: 3.4rem;
    color: var(--Headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

section .content p{
    font-weight: 400;
    color: var(--paragraph);
    font-size: 1.6rem;
    line-height: 150%;
}

.button{
    padding: 1.6rem 3.2rem;
    width: fit-content;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4rem;
    margin-bottom: 6rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem; /* espaçamento  entre os elementos, só que é mais adequado ultilizar em grid */
    text-decoration: none;
}



img{
    max-width: 100%;
}

/* ======== navegacao ============*/

nav{
    width: 100vw;
    display: flex;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    z-index: 100;
}

nav .wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll{
    background-color: var(--primary-color);
   
}

nav.scroll .logo path{
    fill: var(--text-color);
}

nav.scroll button  path{
    stroke: var(--text-color);
}

nav button{
    background: none;
    border: none;
    cursor: pointer;
}

/* ======== menu-expended ============*/
body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded >  :not(nav){
    visibility: hidden;
}


.menu, 
.close_menu, 
body.menu-expanded .open_menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu, 
body.menu-expanded .close_menu{
    opacity: 1;
    visibility: visible;
}

.menu{
    transform: translateY(100%);
}


body.menu-expanded .menu{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;
    padding-top: var(--nav-height);
    transition: transform 300ms;
    transform: translateY(0);
}


.social_links{
    display: flex;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
    margin-top: -5rem;
}

.menu ul:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 6rem;
}

.menu li a{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
    color: var(--text-color);
}

.menu .button{
    background-color: var(--text-color);
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    color: var(--primary-color);
    padding: 1.6rem 3.2rem;
    display: inline-block;
    margin-top: 4.8rem;
    margin-bottom: 8rem;
}

.menu .button:hover{
    background-color: var(--primary-color);
    color: var(--text-color);
    filter: brightness(1.1);
}

body.menu-expanded .logo, body.menu-expanded button {
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo  path{
    fill: var(--text-color);
}

body.menu-expanded  button path{
    stroke: var(--text-color);
}


/* ======== Corpo ============*/

header::before{
    content: " ";
    width: 100%;
    height: calc(108rem + var(--nav-height));
    background-color: var(--brand-light);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}

#home{
    padding-top: calc(4.1rem + var(--nav-height));
}


#home p{
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);
    margin-bottom: 3.2rem;
}

#home .button{
    margin-inline: auto;
}



#home  img{
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}


nav{
    display: flex;
}

#home .stats{
    width: 32.7rem;
    padding-block: 4rem;
    margin-inline: auto;
    background-color: var(--brand-beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;
}

#home .stat h3{
    font-size: 4.8rem;
    color: var(--Headline);
    line-height: 130%;
    margin-bottom: 0.4rem;
}

#home .stat p{
    margin: 0;
    color: var(--primary-color);
    line-height: 150%;
}



/* ======== Services============*/
#services header h2{
    margin-bottom: 6rem;
}


#services .cards{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .cards .card{
    padding: 2.4rem;
    text-align: left;
    background-color: var(--text-color);
    border: 1px solid var(--brand-light);
    border-radius: .6rem;
}

#services .card h3{
    margin-block: 1.6rem;
}

/* ======== About============*/

#about{
    text-align: left;
    background-color: var(--brand-beige);
}

#about header h2{
    margin-bottom: 2.4rem;
}

#about .content p{
    margin-top: 2.4rem;
    margin-bottom: 6rem;    
    text-align: justify;
}

/* ======== Contact ============*/

#contact{
    text-align: left;
}

#contact header{
    margin-bottom: 3.2rem;
}

#contact ul{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
}

#contact ul li{
    display: flex;
    align-items: center ;
    gap: 0.8rem;
}

footer{
    padding-block: 6rem;
    background-color: var(--primary-color);
    text-align: left;
    color: var(--text-color);
}

footer .logo{
    margin-bottom: 2.4rem;
    display: inline-block;
}

footer .logo svg{
    width: 23.6rem;
    height: 3.1rem;
}

footer .logo path{
    fill: var(--text-color);
}

footer p{
    color: var(--brand-beige);
    line-height: 2;
}

footer .social_links{
    justify-content: flex-start;
    margin-top: 0;
}


/* BackToTopButton */

#BackToTopButton{
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    opacity: 0;
    visibility: hidden;
}

#BackToTopButton .show{
    opacity: 1;
    visibility: visible;
}

