/* ======== Geral ============*/
:root{
    font-size: 62.5%;
    --primary-color : #00856f;
    --Headline : #212529;
    --paragraph : #495057;
    --text-color : #fff;
    --brand-beige : #FFFAF1;
    --brand-light : #DCE9E2;
    --nav-height : 7.2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* elemento para contar da borda da caixa*/
}


html,body{
    height: 100%;
    font-size: 1.6rem;
    text-align: center;
}



.wraper{
    width: 37.5rem;
    margin-inline: auto;
    padding: 2.4rem;
}

/* ======== Corpo ============*/

header::before{
    content: " ";
    width: 100vw;
    height: calc(108rem + var(--nav-height));
    background-color: var(--brand-light);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}

header{
    margin-top: calc(4.1rem + var(--nav-height));
}

header h4{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 4.1rem;
}

header h1{
    font-size: 3.4rem;
    color: var(--Headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

header p{
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);
    margin-bottom: 3.2rem;
}

header button{
    height: 6.2rem;
    width: 26.3rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4rem;
    margin-bottom: 6rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem; /* espaçamento  entre os elementos, só que é mais adequado ultilizar em grid */
    margin-inline: auto;
}

header  img{
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}


nav{
    display: flex;
}

.stats{
    width: 32.7rem;
    padding-block: 4rem;
    margin-inline: auto;
    background-color: var(--brand-beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;
}

.stat h3{
    font-size: 4.8rem;
    color: var(--Headline);
    line-height: 130%;
    margin-bottom: 0.4rem;
}

.stat p{
    margin: 0;
    color: var(--primary-color);
    line-height: 150%;
}

/* ======== navegacao ============*/

nav{
    display: flex;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav .wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll{
    background-color: var(--primary-color);
    width: 100vw;
}

nav.scroll svg:nth-child(1) path{
    fill: var(--text-color);
}

nav.scroll svg:nth-child(2) path{
    stroke: var(--text-color);
}